services:
  dev:
    build: 
      context: .
      dockerfile: Dockerfile.dev
      args:
        VITE_API_BASE_URL: "http://localhost:5001"
    ports:
      - "3001:3001"
      - "5001:5001"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=3001
      - BACKEND_HOST=99.230.251.252
      - BACKEND_PORT=5001
    command: npm run dev
    profiles:
      - dev
  prod:
    container_name: prod
    build: 
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
      - "5000:5000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
      - PORT=3000
      - BACKEND_HOST=99.230.251.252
      - BACKEND_PORT=5000
    command: npx npm-run-all --parallel start start-server
    profiles:
      - prod
    restart: unless-stopped
